<html>
  <form class="container" [formGroup]='formulario'>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="formGroupExampleInput">* Nome</label>
          <input type="text" class="form-control" [ngClass]="aplicaCssErro('nome')" id="nome" formControlName="nome"  >
          <label *ngIf="verificaValidTouched('nome')" class="invalid-feedback">Nome deve ter mais de 3 caracteres.</label>
        </div>

      </div>
      <div class="col">
        <div class="form-group">
          <label for="formGroupExampleInput2">* E-mail</label>
          <input type="text" class="form-control" [ngClass]="aplicaCssErro('email')"  id="email" formControlName="email" >
          <label *ngIf="verificaValidTouched('email')" class="invalid-feedback">Email está vazio ou inválido.</label>
      </div>
      </div>
    </div>
    <div formGroupName="endereco">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="formGroupExampleInput2">* CEP</label>
            <input type="text" class="form-control" (blur)="consultaCep()" [ngClass]="aplicaCssErro('endereco.cep')"  id="cep" formControlName="cep" >
            <label *ngIf="verificaValidTouched('endereco.cep')" class="invalid-feedback">Cep está vazio ou inválido.</label>
        </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="formGroupExampleInput2">* Número</label>
            <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')"  id="numero" formControlName="numero" >
            <label *ngIf="verificaValidTouched('endereco.numero')" class="invalid-feedback">Número está vazio</label>
        </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput2"> Complemento</label>
            <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.complemento')"  id="complemento" formControlName="complemento" >
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="formGroupExampleInput2">* Rua</label>
            <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.rua')"  id="rua" formControlName="rua" >
            <label *ngIf="verificaValidTouched('endereco.rua')" class="invalid-feedback">Rua está vazio</label>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput2">* Bairro</label>
            <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')"  id="bairro" formControlName="bairro" >
            <label *ngIf="verificaValidTouched('endereco.bairro')" class="invalid-feedback">Bairro está vazio</label>
        </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput2">* Cidade</label>
            <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.rua')"  id="cidade" formControlName="cidade" >
            <label *ngIf="verificaValidTouched('endereco.cidade')" class="invalid-feedback">cidade está vazio</label>
        </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formGroupExampleInput2">* Estado</label>
            <select class="form-control" formControlName="estado">
              <option [value]="estado.sigla" *ngFor="let estado of estados" >
                {{estado.nome}}
              </option>
            </select>
            <label *ngIf="verificaValidTouched('endereco.estado')" class="invalid-feedback">Estado está vazio</label>
        </div>
        </div>
      </div>
    </div>
    <div>
      preencher todos os campos com *
    </div>
    <br>
    <button (click)="submit()" type= "submit" class="btn btn-success">Enviar</button>
    <button type="button" (click)="resetar()" class="btn btn-danger">Cancelar</button>
  </form>
  <br>
  <div class="jumbotron container ">
    <h2>Detalhes do Formulário</h2>
    <div class="card card-body slabo">
      <div class="row">
        <div class="col-4">
          <p>Nome: {{formulario.value.nome}}</p>
        </div>
        <div class="col-4">
          <p>Email: {{formulario.value.email}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>CEP: {{formulario.value.endereco.cep}}</p>
        </div>
        <div class="col">
          <p>Número: {{formulario.value.endereco.numero}}</p>
        </div>
        <div class="col">
          <p>Complemento: {{formulario.value.endereco.complemento}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Rua: {{formulario.value.endereco.rua}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Bairro: {{formulario.value.endereco.bairro}}</p>
        </div>
        <div class="col">
          <p>Cidade: {{formulario.value.endereco.cidade}}</p>
        </div>
        <div class="col">
          <p>Estado: {{formulario.value.endereco.estado}}</p>
        </div>
      </div>
    </div>
  </div>
</html>

